:has([data-fill="solid"]) {
    color: var(--color);
    background-color: var(--background_color);
}

:has([data-fill="ghost"]) {
    color: var(--color);
    background-color: transparent;
    border-color: var(--color);
}

:has([data-fill="text"]) {
    color: var(--color);
    background-color: transparent;
}