[data-shape="circular"] {
    border-radius: var(--radius-round);
}

[data-shape="square"] {
    border-radius: 0;
}

[data-shape="pill"] {
    border-radius: var(--radius-pill);
}

[data-shape="rounded"] {
    border-radius: var(--radius-2);
}
