:has([data-shape="circular"]) {
    border-radius: var(--radius-round);
}

:has([data-shape="square"]) {
    border-radius: 0;
}

:has([data-shape="pill"]) {
    border-radius: var(--radius-pill);
}

:has([data-shape="rounded"]) {
    border-radius: var(--radius-2);
}
