:has([data-style="primary"]) {
    background-color: var(--jungle-4);
    color: var(--gray-11);
}

:has([data-style="secondary"]) {
    background-color: var(--stone-6);
    color: var(--gray-11);
}

:has([data-style="warning"]) {
    background-color: var(--orange-8);
    color: var(--gray-11);
}

:has([data-style="success"]) {
    background-color: var(--green-8);
    color: var(--gray-11);
}

:has([data-style="danger"]) {
    background-color: var(--red-8);
    color: var(--gray-11);
}

:has([data-style="info"]) {
    background-color: var(--blue-8);
    color: var(--gray-11);
}